@model IEnumerable<ShoesShop.Models.Category>
@{
    var categories = (IEnumerable<ShoesShop.Models.Category>)TempData["Categories"];
}
<div class="py-5">
    <div class="d-flex">
        <div>
            Nam
        </div>
        <div>Nữ</div>
    </div>
    <div class="">
        @if(categories != null)
        {
            @foreach (var category in categories)
            {
                <p>@Html.DisplayFor(item => category.Name)</p>
            }
        }
    </div>
</div>
