


<div class="btn-sm-square bg-white rounded-circle ms-3 dropdown" href="">
    <button title="Tìm kiếm" class="rounded-circle h-100 w-100 border-0 dropdown-toggle p-0" type="button" id="dropdownSearchToggle" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="fa fa-search text-body"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end cart-partial row " aria-labelledby="dropdownSearchToggle" data-bs-popper="none">
        <input type="text" placeholder="Tìm kiếm sản phẩm ... " class="border-0 outline-none" id="search-product-input" />
        <div id="searchResults" class="w-100 pt-2 px-0"></div>
            
    </div>
</div>
