@using Microsoft.AspNetCore.Identity
@using ShoesShop.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<div class="btn-sm-square bg-white rounded-circle ms-3" href="">
    <button title="Tìm kiếm" class="rounded-circle h-100 w-100 border-0 dropdown-toggle p-0" type="button" id="dropdownCartToggle" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="fa fa-search text-body"></span>
    </button>
</div>

