@model IEnumerable<ShoesShop.Models.Slider>

@{
    ViewData["Title"] = "Index";
}
<div class="admin-body-wrapper">
    <h1>Slide</h1>
    <hr />
    <a asp-area="Admin" asp-controller="Sliders" asp-action="Create">Tạo slide mới</a>
    @foreach(var item in Model)
    {
        <div class="row">
            <div class="position-relative my-4 col-7">
                <img class="w-100" src="@item.ImageLink" />
            </div>
            <div class="col-5">
                <div class="h5">@item.Description</div>
            </div>
        </div>
    }
</div>
