@model IEnumerable<ShoesShop.Models.Slider>

@{
    ViewData["Title"] = "Index";
}
<div class="admin-body-wrapper p-3">
    <h1>Quản lí các slide chạy trên client</h1>
    <hr />
    @foreach(var item in Model)
    {
        <div class="row">
            <div class="position-relative my-4 col-7">
                <img class="w-100" src="@item.ImageLink" />
            </div>
            <div class="col-5">
                <div class="h1">@item.Description</div>
            </div>
        </div>
    }
</div>
