@model IEnumerable<ShoesShop.Models.Category>
@{
    ViewData["Title"] = "Trang Chủ";
    var sliders = (List<Slider>?)TempData["Sliders"];
}
<div class="main">

    <!-- Carousel Start -->
    <div class="container-fluid p-0 wow fadeIn mt-5 mt-lg-0" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @if(sliders != null)
                {
                    @for (var i = 0; i < sliders.Count(); i++)
                    {
                        <div class="carousel-item @(i==0 ? "active" : "")">
                            <img class="image-wrapper" src="@Html.DisplayFor(sliderItem => sliders[i].ImageLink)" alt="Image">
                            <div class="carousel-caption">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-10">
                                            <h1 class="carousel-title display-1 mb-5 animated slideInDown">@Html.DisplayFor(sliderItem => sliders[i].Title)</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
    <div class="container py-5 mt-5">

        @if(Model != null) {
            <div class="product-wrapper">
            </div>
        }
    </div>
</div>

@section Scripts {
    <script defer>
        var categories = [
            @foreach(var category in Model)
            {
                <text>
                    {
                        name: `@category.Name`,
                        description: `@category.Description`,
                        products: [
                            @foreach(var product in category.Products) {
                                <text>
                                    {
                                        name: `@product.Name`,
                                        description: `@product.Description`,
                                        discount: `@product.Discount.Percent`,
                                        price: `@product.Price`,
                                        currentPrice: `@product.CurrentPrice`,
                                        image: `@product.ImageLink`,
                                        slug: `@product.Slug`,
                                    },
                                </text>
                            }
                        ],
                    },
                </text>
            }
        ]
        console.log(categories);
        categories.forEach(function (category) {
            if (category.products && category.products.length > 0) {
                $(".product-wrapper").append(`
                    <div class="px-3">
                        <h5 class="category-item-title">${category.name}</h5>
                        <hr />
                    </div>
                    <div class="row product-carousel">
                        <button title="Sang trái" class="d-none d-lg-flex btn btn-square product-carousel-left"><i class="fa-solid fa-caret-left"></i></button>
                        <button title="Sang phải" class="d-none d-lg-flex btn btn-square product-carousel-right"><i class="fa-solid fa-caret-right"></i></button>
                        <div class="row product-carousel-list overflow-y-hidden">
                            ${category.products.map(product => `
                                <div class="product-item col-xl-3 col-md-4 col-6 px-1 px-md-3">
                                    ${product.discount !== 0 ? `<i class="fa-solid fa-certificate product-item-saleIcon"></i><p class="product-item-saleIcon">${product.discount}%</p>` : ''}
                                    <a href="/san-pham/${product.slug}" class="product-card card">
                                        <img src="${product.image}" class="card-img-top" alt="${product.name}" />
                                        <div class="card-body">
                                            <h5 class="card-title">${product.name}</h5>
                                            <div class="d-lg-flex d-md-block justify-content-between">
                                                <p class="product-card-price card-text text-danger fw-bold d-inline-block"><span class="number-with-comma">${product.currentPrice}</span> đ</p>
                                                ${product.discount !== 0 ? `<p class="product-card-price card-text text-decoration-line-through d-inline-block"><span class="number-with-comma">${product.price}</span> đ</p>` : ''}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            `).join('')}
                        </div>
                    </div>
                `);
            }
        });
    </script>
}

