$primary: #4582ec;
$secondary: #adb5bd;
$light: #F7F8FC;
$dark: #111111;
$title: #252a2b;
$red: #ff0000;
$white: #fff;

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

/*** Identity ***/
.avatar-wrapper {
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
}
/*** Product ***/

.product-category-wrapper {
    display: flex;
    padding: 20px 0;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.category-item-title {
    text-transform: uppercase;
}

.product-item {
    position: relative;

    

    .product-card {
        height: 100%;

        .card-img-top {
            aspect-ratio: 1/1;
        }

        &:hover {
            .card-img-top {
                filter: brightness(0.8);
            }
        }
    }

    .product-item-saleIcon {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1;
        font-size: 4rem;
        color: gold;

        @media (max-width: 768px) { // Điều chỉnh cho thiết bị có độ rộng tối đa là 768px (thiết bị di động)
            font-size: 3rem;
        }
    }

    p.product-item-saleIcon {
        font-size: 1.4rem;
        font-weight: 500;
        color: $white;
        z-index: 2;
        margin: 0;
        padding: 0;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        background-color: transparent;

        @media (max-width: 768px) { // Điều chỉnh cho thiết bị có độ rộng tối đa là 768px (thiết bị di động)
            font-size: 1rem;
            width: 3rem;
            height: 23rem;
            line-height: 3rem;
        }
    }
}
.product-card-price {
    font-size: 1.3rem;
}
// Product Page
.product-image-wrapper {
    height: 450px;
    @media (max-width: 480px) { 
        height: 250px;    
    }
}
.product-list-images-wrapper {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    /* Thanh cuộn */
    &::-webkit-scrollbar {
        width: 8px; /* Điều này có thể thay đổi tùy thuộc vào yêu cầu của bạn */

        @media (max-width: 480px) {
            width: 0px;
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Màu sắc của thanh cuộn */
    }

    &::-webkit-scrollbar-button {
        display: none; /* Ẩn mũi tên lên và mũi tên xuống */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Màu sắc của thanh cuộn */
        border-radius: 5px;
    }
}
.product-info-wrapper {
    .product-name {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        padding: 10px 0;
    }

    .product-description {
        color: $title;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        padding: 5px 0;
    }

    .product-price-wrapper {
        padding: 15px 0;
    } 
    .product-price {
        display: block;
        font-size: 1.3rem;
        font-weight: 400;
        color: $dark;
        white-space: nowrap;
        letter-spacing: 1.2px;
        margin: 0;
        padding: 0;
    }

    .product-discount-price {
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        color: $red;
        white-space: nowrap;
        letter-spacing: 1.5px;
        margin: 0;
        padding: 0;
    }
}
#product-size-wrapper {
    background-color: none;
}

//*** Cart Page ***//
.cartPage-wrapper {
    background-color: #f5f5f5;
}

.cartPage-cartItem {
    position: relative;
    border: 1px solid #ccc;

    .cartPage-remove-item {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        text-align: end;
        button {
            font-size: 1rem;
            background-color: transparent;
            border: none;
            &:hover {
                color: $red;
            }
            &:active {
                border: none !important;
            }
            &:focus {
                box-shadow:none;
            }
        }
    }
}





//------------------------------------------------PARTIAL----------------------------------------------------------//


// Cart Partial
.cart-partial {
    width: 420px;
    box-shadow: 1px 1px 1px #ccc;
    padding-bottom: 0;

    @media (max-width: 768px) { // Mobile
        width: 300px !important;
    }

    .cartPartial-list {
        max-height: 420px;

        @media (max-width: 1028px) { // Tablet and mobile
            max-height: 360px;
        }

        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px; /* Điều này có thể thay đổi tùy thuộc vào yêu cầu của bạn */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888; /* Màu sắc của thanh cuộn */
        }

        &::-webkit-scrollbar-button {
            display: none; /* Ẩn mũi tên lên và mũi tên xuống */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888; /* Màu sắc của thanh cuộn */
            border-radius: 5px;
        }
    }

    .cartPartial-item {
        border-bottom: 1px solid #ddd;

        &:last-child {
            border-bottom: none;
        }
    }

    .cartPartial-heading {
        font-weight: 400;
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .cartPartial-item-name, .cartPartial-item-quantity, .cartPartial-item-size, .cartPartial-item-discountPrice, .cartPartial-item-price, .cartPartial-totalPrice {
        margin: 0;
        font-family: "Times New Roman";
    }

    .cartPartial-item-name {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .cartPartial-totalPrice {
        padding: 10px 20px;
        margin: 0;
        border-top: 1px solid #ccc;
    }
}

.cartPartial-notice {
    position: absolute;
    background-color: #ff0000;
    top: 0;
    left: 50%;
    width: 17px;
    height: 17px;
    align-content: center;
    text-align: center;
    z-index: 10;
    color: $light;
    border-radius: 50%;
    font-size: 0.75rem;
}

// Search Partial
.search-product-input {
    outline: none;
}

// Collection Partial

.collection-gender {
    padding: 25px;
    border: 1px solid #e4e7e6;
    background-color: $white;

    &.active {
        .collection-gender-title {
            color: $primary;
            filter: contrast(1.5) brightness(0.8);
            text-decoration: underline;
            text-underline-offset: 0.4rem;
        }

        border-bottom: 1px solid #fff;
    }

    .collection-gender-title {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0;
    }
}


.collection-category-wrapper {
    margin-top: -1px;
    padding: 15px;
    border: 1px solid #e4e7e6;
    background-color: $white;

    .collection-category-item {
        display: block;
        margin-right: 25px;
        margin-left: 25px;

        &:hover {
            filter: brightness(0.9);
        }

        .collection-category-image {
            padding: 0;
            width: 100%;
            aspect-ratio: 1;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid #e4e7e6;
            margin-bottom: 5px;
        }

        .collection-category-name {
            font-size: 1rem;
            font-weight: 300;
            color: #000;
            margin-bottom: 5px;
            text-align: center;
        }
    }
}