@charset "UTF-8";
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

/*** Identity ***/
.avatar-wrapper {
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  aspect-ratio: 1;
  object-fit: cover;
}

/*** Product ***/
.product-category-wrapper {
  display: flex;
  padding: 20px 0;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.category-item-title {
  text-transform: uppercase;
}

.product-item {
  position: relative;
}
.product-item .product-card {
  height: 100%;
}
.product-item .product-card .card-img-top {
  aspect-ratio: 1/1;
}
.product-item .product-card:hover .card-img-top {
  filter: brightness(0.8);
}
.product-item .product-item-saleIcon {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  font-size: 4rem;
  color: gold;
}
@media (max-width: 768px) {
  .product-item .product-item-saleIcon {
    font-size: 3rem;
  }
}
.product-item p.product-item-saleIcon {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background-color: transparent;
}
@media (max-width: 768px) {
  .product-item p.product-item-saleIcon {
    font-size: 1rem;
    width: 3rem;
    height: 23rem;
    line-height: 3rem;
  }
}

.product-card-price {
  font-size: 1.3rem;
}

.product-image-wrapper {
  height: 450px;
}
@media (max-width: 480px) {
  .product-image-wrapper {
    height: 250px;
  }
}

.product-list-images-wrapper {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  /* Thanh cuộn */
}
.product-list-images-wrapper::-webkit-scrollbar {
  width: 8px; /* Điều này có thể thay đổi tùy thuộc vào yêu cầu của bạn */
}
@media (max-width: 480px) {
  .product-list-images-wrapper::-webkit-scrollbar {
    width: 0px;
  }
}
.product-list-images-wrapper::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu sắc của thanh cuộn */
}
.product-list-images-wrapper::-webkit-scrollbar-button {
  display: none; /* Ẩn mũi tên lên và mũi tên xuống */
}
.product-list-images-wrapper::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu sắc của thanh cuộn */
  border-radius: 5px;
}

.product-info-wrapper .product-name {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 10px 0;
}
.product-info-wrapper .product-description {
  color: #252a2b;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 5px 0;
}
.product-info-wrapper .product-price-wrapper {
  padding: 15px 0;
}
.product-info-wrapper .product-price {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  color: #111111;
  white-space: nowrap;
  letter-spacing: 1.2px;
  margin: 0;
  padding: 0;
}
.product-info-wrapper .product-discount-price {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  color: #ff0000;
  white-space: nowrap;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
}

#product-size-wrapper {
  background-color: none;
}

.cartPage-wrapper {
  background-color: #f5f5f5;
}

.cartPage-cartItem {
  position: relative;
  border: 1px solid #ccc;
}
.cartPage-cartItem .cartPage-remove-item {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  text-align: end;
}
.cartPage-cartItem .cartPage-remove-item button {
  font-size: 1rem;
  background-color: transparent;
  border: none;
}
.cartPage-cartItem .cartPage-remove-item button:hover {
  color: #ff0000;
}
.cartPage-cartItem .cartPage-remove-item button:active {
  border: none !important;
}
.cartPage-cartItem .cartPage-remove-item button:focus {
  box-shadow: none;
}

.cart-partial {
  width: 420px;
  box-shadow: 1px 1px 1px #ccc;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .cart-partial {
    width: 300px !important;
  }
}
.cart-partial .cartPartial-list {
  max-height: 420px;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 1028px) {
  .cart-partial .cartPartial-list {
    max-height: 360px;
  }
}
.cart-partial .cartPartial-list::-webkit-scrollbar {
  width: 5px; /* Điều này có thể thay đổi tùy thuộc vào yêu cầu của bạn */
}
.cart-partial .cartPartial-list::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu sắc của thanh cuộn */
}
.cart-partial .cartPartial-list::-webkit-scrollbar-button {
  display: none; /* Ẩn mũi tên lên và mũi tên xuống */
}
.cart-partial .cartPartial-list::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu sắc của thanh cuộn */
  border-radius: 5px;
}
.cart-partial .cartPartial-item {
  border-bottom: 1px solid #ddd;
}
.cart-partial .cartPartial-item:last-child {
  border-bottom: none;
}
.cart-partial .cartPartial-heading {
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.cart-partial .cartPartial-item-name, .cart-partial .cartPartial-item-quantity, .cart-partial .cartPartial-item-size, .cart-partial .cartPartial-item-discountPrice, .cart-partial .cartPartial-item-price, .cart-partial .cartPartial-totalPrice {
  margin: 0;
  font-family: "Times New Roman";
}
.cart-partial .cartPartial-item-name {
  font-size: 1.2rem;
  font-weight: 500;
}
.cart-partial .cartPartial-totalPrice {
  padding: 10px 20px;
  margin: 0;
  border-top: 1px solid #ccc;
}

.cartPartial-notice {
  position: absolute;
  background-color: #ff0000;
  top: 0;
  left: 50%;
  width: 17px;
  height: 17px;
  align-content: center;
  text-align: center;
  z-index: 10;
  color: #F7F8FC;
  border-radius: 50%;
  font-size: 0.75rem;
}

.search-product-input {
  outline: none;
}

.collection-gender {
  padding: 25px;
  border: 1px solid #e4e7e6;
  background-color: #fff;
}
.collection-gender.active {
  border-bottom: 1px solid #fff;
}
.collection-gender.active .collection-gender-title {
  color: #4582ec;
  filter: contrast(1.5) brightness(0.8);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
.collection-gender .collection-gender-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}

.collection-category-wrapper {
  margin-top: -1px;
  padding: 15px;
  border: 1px solid #e4e7e6;
  background-color: #fff;
}
.collection-category-wrapper .collection-category-item {
  display: block;
  margin-right: 25px;
  margin-left: 25px;
}
.collection-category-wrapper .collection-category-item:hover {
  filter: brightness(0.9);
}
.collection-category-wrapper .collection-category-item .collection-category-image {
  padding: 0;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #e4e7e6;
  margin-bottom: 5px;
}
.collection-category-wrapper .collection-category-item .collection-category-name {
  font-size: 1rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 5px;
  text-align: center;
}
