
.admin-body-wrapper {
    position: relative;
    background-color: #fff;
    border-radius: 0.375rem;
    box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);
}
.admin-crud-btn {
    display: inline-block;
    padding: 5px;
    margin: 0 2px;
    :hover {
        opacity: 0.8;
    }
    i {
        font-size: 1.3rem;
    }
}
.admin-crud_create-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;

    i {
        font-size: 15px;
    }
    :hover {
        opacity: 0.8;
    }
}